@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: Roboto;
  color: white;
}

html {
  height: 100%;
  background: linear-gradient(20deg, #db7095, #daa360) fixed; 
}

.title {
  font-family: Quicksand;
  font-size: calc(10px + 4vw);
  padding: 1vh 3vw;
  margin-bottom: 3vh;
}

.section-header {
  font-family: Quicksand;
  font-size: calc(8px + 3vw);
  padding: 1vh 3vw;
  margin-bottom: 3vh;
}

.app-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.app-box {
  display: inline-block;
  height: calc(20px + 15vw);
  width: calc(20px + 15vw);
  background-color: rgba(255, 255, 255, .3);
  transition: background-color 0.5s ease;
}

.app-box:hover {
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

.app-name {
  height: calc(20px + 15vw);
  line-height: calc(20px + 15vw);;
  font-family: Quicksand;
  font-size: calc(5px + 1.8vw);
  text-align: center;
}

.personal-links {
  text-align: center;
  margin-top: 5vh;
}

.personal-svg {
  margin: 2vw;
  height: 5vw;
}
